.add-page {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
  }
  
  .apps {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .app {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    border-radius: 10px;
  }
  